.page-two-container {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #FFF; /* Assuming a white background */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    width: 100vw;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .main-title {
    font-size: 40px; /* Adjust based on your design */
    color: #800020; /* Maroon-like color */
    margin-bottom: 30px;
  }
  
  .columns-container {
    display: flex;
    justify-content: space-between;
  }
  
  .activity-column {
    flex: 1;
    padding: 0 10px;
    border-right: 1px solid gray; 
    width: calc(33.333% - 20px); /* Subtracting some space for margins */
    margin: 10px; /* Space between columns */
  }
  
  .activity-column:last-child {
    border-right: none;
  }

  .activity-image {
    width: 100%; /* Image as wide as the column */
    height: auto; /* Maintain aspect ratio */
    max-height: 600px; /* Maximum height */
    object-fit: cover; /* Cover the designated area */
    margin-bottom: 20px; /* Space below the image */
  }

  .activity-title {
    font-size: 25px; /* Adjust based on your design */
    font-weight: bold;
    border-bottom: 3px solid #800020; /* Assuming a maroon bottom border */
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .activity-list {
    list-style: none;
    text-align: left; /* Aligning the text to the left */
    padding: 0;
  }
  
  .activity-list li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  