.main {
    margin-left: 50px; 
}

.top-bar {
    align-items: center;
    justify-content: space-between; 
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 20px;
}

.gallery-title {
    flex-grow: 1; 
    text-align: center; 
    grid-column: 2 / 3;
}

.button-group {
    display: flex;
    gap: 10px; 
    z-index: 900;
    grid-column: 3 / 4;
    margin-left: 40px;
}

.home .menu {
  z-index: 1122;
}

.button-group button {
    background-color: #d6d4d4;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: rgb(69, 122, 214);
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Start items from the left */
    gap: 10px;
    padding: 0 0 0 80px; 
}

.gallery.empty {
    display: unset;
}

.image img {
    max-height: 400px; 
    width: auto;
    height: auto;
}

.gallery-no-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 20px;
    color: #666;
}

.image img {
    cursor: pointer; 
    transition: transform 0.2s; 
}

.image img:hover {
    transform: scale(1.05); 
}

.edit-mode img:hover {
    transform: none; 
}

.image {
    position: relative;
}

.select-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px; 
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: green;
  }
  

@media (max-width: 800px) {
    .gallery-title {
      margin-bottom: 10px; 
      text-align: center;
      font-size: 40px;
    }

    .main {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .gallery {
        padding: 0; 
        margin-left: 10px;
        align-items: center;    
        flex-direction: column;
        display: flex;
    }

    .image img {
        width: 95%;
        height: auto;
        max-height: 100%;
    }

    .top-bar {
        flex-direction: column; 
        align-items: center; 
        margin-left: 0;
        display: flex;
        justify-content: center;
        grid-template-columns: none;
    }

    .button-group {
        width: 100%; 
        display: flex; 
        justify-content: center; 
        gap: 10px;
        margin-left: 0;
    }
  }

  @media (prefers-color-scheme: dark) {
    .button-group button {
        background-color: #313132; 
        color: #f0f0f0;
        border: none;
    }

    .button-group button:hover {
        background-color: #313132;
        color: white;
    }

}

.image-modal {
    background-color: #f9f9f9; 
    border-radius: 8px;
    padding: 20px;
    max-width: 80vw;
    margin: auto;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 90vh;
    z-index: 2501;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2500;
  }
  
  .modal-section-doubler {
    flex-direction: column;
  }
  
  .modal-section label {
    font-weight: bold;
    display: block;
  }

  .modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
  
  .modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .modal-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(69, 122, 214);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .modal-buttons button:hover {
    background-color: #0056b3;
  }
  
  .comment-section .comment {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #e9ecef;
    border-radius: 4px;
  }
  
  .comment-section input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .comment-section button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(18, 91, 216);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .comment-section button:hover {
    background-color: #218838;
  }
  
  .centered-blue-button {
    background-color: rgb(197, 197, 197);
    color: white;
    border: none; 
    padding: 5px 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 10px;
  }

  .modal-tags {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .modal-tags strong {
    font-weight: bold;
    margin-right: 5px;
}

  .image-author {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    margin-left: 0; 
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f0f0; 
  border-radius: 25px;
  padding: 10px 20px; 
  width: 300px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.search-bar input {
  border: none;
  background-color: transparent; 
  width: 100%; 
  outline: none;
  font-size: 16px;
  padding: 0; 
  margin-left: 10px;
}

.search-bar input::placeholder {
  color: #888;
}

.search-icon {
  color: #888;
  font-size: 18px; 
}

.date-group {
  width: 100%;            
  margin-bottom: 2rem;      
}

.date-marker {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;     
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  text-align: left;
  color: #333;
}

.image-row {
  display: flex;
  flex-wrap: wrap;     
  gap: 1rem;           
}

@media (max-width: 768px) {
  .modal-tags {
    margin-bottom: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  .image-modal {
    background-color: #292727;
  }

  .search-bar {
    background-color: rgb(78, 78, 78);
    color: white;
  }

  .search-bar input::placeholder {
    color: lightgray; 
  }

  .comment-section button, .button-group button {
    background-color: rgb(83, 80, 80);
  }

  .date-marker {
    color: white;
  }
}