.top-bar-home {
  background-color: white;
  color: #800020; 
  text-align: center;
  padding: 10px 0 0 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 2px solid #444;
}

.home-page .hamburger-menu-container {
  background-color: transparent !important;
}

.top-bar-home h1 {
  font-size: 36px;
  color: #800020; 
}

.island {
  position: absolute;
  top: 50%; 
  left: 10%; 
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4); 
  color: #800020;
  padding: 0px 20px 20px;
  border-radius: 15px;
  text-align: left;
  z-index: 1;
  width: 25%;
}

.island-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #800020;
}

.island-description {
  font-size: 20px;
  color: rgb(79, 86, 82);
  max-width: 100%;
  margin: 0;
  font-weight: bold;
}

.home-container { 
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom-bar {
  background-color: #444;
  color: white;
  padding: 50px;
  text-align: center;
}

.bottom-bar-content h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.bottom-bar-content button {
  background-color: white;
  color: #444;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.bottom-bar-content button:hover {
  background-color: #666;
  color: white;
}

.island-mobile {
  display: none;
}

.background-image {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .island {
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }

  .island-title {
    font-size: 24px;
  }

  .island-description {
    font-size: 16px;
  }

  .bottom-bar-content button {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .top-bar-home {
    display: none;
  }

  .island-mobile {
    top: 70%;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    background-color: white; 
    color: #800020;
    padding: 0px 20px 20px;
    text-align: left;
    z-index: 1;
  }

  .island-title {
    font-weight:bold;
  }

  .island {
    display: none;
  }

  .background-image {
    height: 50vh; 
    background-size: cover;
    background-position: center top; 
  }

  .home-page .hamburger-menu-container {
    background-color: transparent !important;
    position: absolute !important;
  }
}

@media (prefers-color-scheme: dark) {
  .top-bar-home {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .island-mobile {
    background-color:unset;
  }
  .island-title {
    color: white;
  }
  .island-description {
    color: rgb(247, 255, 234);
  }
  .island-subtitle {
    color: rgb(249, 249, 249);
  }
  .island {
    background-color:gray;
  }
}