.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 8px;
    width: 93%
  }
  
  .login-button, .register-button, .google-login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .register-button {
    background-color: #008CBA;
    color: white;
  }
  
  .google-login {
    margin-top: 15px;
  }
  
  .google-login-button {
    background-color: #db4437;
    color: white;
  }

  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: blue;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .centerer {
    margin-top: 30px;
  }

  @media (min-width: 769px) {
    .centerer {
        min-height: 100vh; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 0;
        padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
    .forgot-password a{
        color: #e0e0e0; 
    }
}