.menu-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: fit-content; 
    border: 1px solid transparent;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .menu-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  menu-button:hover {
    border-color: #646cff;
  }
  menu-button:focus,
  menu-button:focus-visible {
    outline: 4px auto -webkit-font-smoothing;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .menu-container:hover .dropdown {
    display: block;
  }
  
  .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #ddd; 
  }
  