.big-warning {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 100vh;      
    font-size: 3.2em;    
    line-height: 1.1;
    color: black;
    text-align: center;  
    margin: 0;         
}


.gentle-warning {
    text-align: center;
    font-size: 3.2em;
    line-height: 1.1;
    margin-left: 100px;
    color: rgba(100, 50, 50, 100);
}