.page-container {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  display: flex;
  flex-direction: column;
  font-family: inherit;
  color: black;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden; /* Ensure nothing goes outside the bounds */
}

.page-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/pg1bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1; /* Ensures the image is behind the content */
}

@media (max-width: 767px) {
  .page-container::before {
    background-attachment: scroll; /* Scroll with the content */
  }
}

  
  .club-name {
    font-size: 54px;
    font-weight: bold;
    color: #800020;
  }
  
  .tagline {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
  }
  
  .section-title {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  
  .list {
    list-style: none;
    padding-left: 0;
  }
  
  .list li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
  }

  .text-container {
    padding-left: clamp(1px, 20vw, 300px);
  }