.centerer-er {
    margin-top: 120px;
}

.standard-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
}

.next-button {
    background-color: #4caf50;
    color: white;
}

.back-button {
    background-color: #008cba;
    color: white;
}

.input-group-request {
    width: 100%;
    margin-bottom: 15px;
}

.input-group-request label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group-request input {
    padding: 8px;
  }