/* ResetPassword.css */

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .input-group-res {
    width: 70vw; 
    max-width: 500px; 
    margin-bottom: 15px;
  }
  
  .input-group-res label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group-res input {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  